@import "compass";
@import "foundation";
@import "social-likes";
@import "font-awesome";

$background_color: #B1D5D1;
$title_color: #0A1B20;

body {
  background: $background_color;
}

.title {
  color: $title_color;
}

.social-likes {
  margin-bottom: 1em;
}

#loading {
  width: 5%;
  margin: 0 auto;
}
