!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title= current_page.data.title || 'Smart Toilet Finder'
    %meta{name: 'description', content: ''}
    %meta{name: 'author', content: 'hassaku'}
    %meta{name: 'viewport', content: 'width=device-width'}
    :plain
      <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
      <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
    %link{href: 'stylesheets/application.css', type: 'text/css', rel: 'stylesheet' }
    %script{type: 'text/javascript', src: 'javascripts/modernizr_wrapper.js'}

  %body
    = yield

    #footer{style: "text-align:center;"}
      %p= "Copyright(C) 2014 hassaku All Rights Reserverd."

    =# google_analytics_tag
    %script{type: 'text/javascript', src: 'javascripts/application.js'}
