.row
  %h1.title
    Smart Toilet Finder
    %i.fa.fa-search

.row
  .social-likes
    .facebook
      Facebook
    .twitter
      Twitter

.row
  乗車中の路線
  =select_tag :railway, options: ['Hanzomon', 'Tozai'], include_blank: true
  次の停車駅
  =select_tag :stop
  目的の駅
  =select_tag :destination
  #search.button.expand
    トイレを探す


